<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alexmarse.namethatbird"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.alexmarse.namethatbird.NTBMain"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.alexmarse.namethatbird.NTBSelectPlaylistType"
            android:label="@string/title_activity_ntbselect_playlist_type"
            android:parentActivityName="com.alexmarse.namethatbird.NTBMain" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.alexmarse.namethatbird.NTBMain" />
        </activity>
        <activity
            android:name="com.alexmarse.namethatbird.NTBSelectPlaylist"
            android:label="@string/title_activity_ntbselect_location"
            android:parentActivityName="com.alexmarse.namethatbird.NTBSelectPlaylistType" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.alexmarse.namethatbird.NTBSelectPlaylistType" />
        </activity>
        <activity
            android:name="com.alexmarse.namethatbird.NTBSelectLesson"
            android:label="@string/title_activity_ntbselect_lesson"
            android:parentActivityName="com.alexmarse.namethatbird.NTBSelectPlaylist" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.alexmarse.namethatbird.NTBSelectLocation" />
        </activity>
        <activity
            android:name="com.alexmarse.namethatbird.NTBCompleteLesson"
            android:label="@string/title_activity_ntbcomplete_lesson"
            android:parentActivityName="com.alexmarse.namethatbird.NTBSelectLesson" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.alexmarse.namethatbird.NTBSelectLesson" />
        </activity>
        <activity
            android:name="com.alexmarse.namethatbird.NTBLesson"
            android:label="@string/title_activity_ntblesson"
            android:parentActivityName="com.alexmarse.namethatbird.NTBSelectLesson" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.alexmarse.namethatbird.NTBSelectLesson" />
        </activity>
    </application>

</manifest>